# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Docker
.docker/

# IDE - VSCode
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Temp files
*.swp
*.swo
.package_hash 